.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(249 250 251);
  border-right: 1px solid rgb(17 24 39 / 0.05);
  z-index:99;
  width: 70px;
  padding: 5px 5px;
  display:none;
    
}

@media (min-width: 768px) {
 .wrapper {display:block; width:52px;}

}
@media (min-width: 1025px) {
  .wrapper{width:70px;}
}
