.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(249 250 251);
  border-right: 0px solid rgb(17 24 39 / 0.05);
  z-index:99;
  width: 70px;
  padding: 5px 5px;
    
}

@media (max-width: 768px) {
 
}
