/* make the customizations replay */
$theme-colors: (
  "info": #ce102c,
  "danger": teal,
  "primary": #e60e2d,
  "dark": #021e42,
  "light": rgb(249 250 251 / 1),
  "secondary": rgb(249 250 251 / 1),
  "default": rgba(0, 0, 0, 0.08),
);

$border: 1px solid rgb(17 24 39 / 0.05);
$border-color: rgb(17 24 39 / 0.07);
$light: rgb(249 250 251 / 1);
$success:rgb(9 184 80);
$dark: #021e42;
$navbar-light-color: rgb(17 24 39);
$navbar-dark-color: #fff;
$default-hover: rgba(0, 0, 0, 0.08);
$hero-gradient-start: #021e42;
$hero-gradien-end: rgb(2, 45, 102);
$primary: #e60e2d;

$list-group-bg: $dark;
$list-group-border-color: $border-color;
$list-group-active-color: $hero-gradien-end;
$list-group-color: #fff;
$list-group-action-active-color: #fff;
$list-group-action-active-bg: $hero-gradien-end;

@import "~bootstrap/scss/bootstrap";

html,
body {
  min-height: 100% !important;
  height: 100%;
  line-height: 1.625;
  font-family: "Roboto";
}

h1 {
  font-weight: 900;
}

.navbar {
  z-index: 6;
}

.nav-link {
  font-weight: 500;
}

.ls-tight {
  letter-spacing: -0.025em !important;
}

.hero {
  /*background-color: $hero-gradient-start;
  background-image: linear-gradient(
    75deg,
    $hero-gradient-start 10%,
    $hero-gradien-end 60%
  );*/
}

.alert {
  border: $border;
 
}
.alert-light {
  background-color: $light;
}
.alert-success {
  background-color: $success;
}


.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.videoplaceholder {
  background-color: rgba(249 250 251); //rgb(17 24 39 / 0.05)
  border: $border;
}

.bg-secondary .videoplaceholder,
.hero .videoplaceholder {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.hero .videoplaceholder {
  min-height: 320px;
}

.nav-pills .nav-link.active {
  background-color: #e60e2d96;
}
.nav-fill > .nav-link,
.nav-fill .nav-item {
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.dropdown-menu {
  --bs-dropdown-bg: #021e42;
}

.navButton {
  border-radius: 50%;
  border: 0;
  font-size: 22px;
  text-align: center;
  color: #fff;
  display: block;
  margin-right: 10px;
  background-color: transparent;
  position: absolute;
  left: 10px;
}
.icon-shape {
  text-align: center;
  vertical-align: middle;

  border-radius: .375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position:absolute; 
  z-index:4;
  text-transform: uppercase;   
  cursor: pointer;  
  transition: 0.3s;
  background-color: #ce102c;
}

.icon-shape:hover{
  background-color: #810618;
}

.navButton:hover {
  background-color: $default-hover;
  color: #fff;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: var(--primary);
}

.description h6 span {
  font-weight: 400;
}

.mainsection {
  margin-top: -45px;
}

aside .description h4 {
  font-size: 16px;
}

.list-group-item-dark {
  background-color: $dark;
}
.subitems .nav-pills .nav-link.active.bg-primary {
  background-color: $light !important;
  border-color: $border-color;
  color: $dark;
}

.subitems .nav-pills .nav-link.text-primary {
  color: $dark !important;
}
.footer {
  z-index: 100;
}
.footer a:link,
footer a:visited {
  color: #fff;
}
.footer .bi {
  font-size: 25px;
}

@media (min-width: 300px) {
  body {
    padding-top: 70px;
  }

  .icon-shape{
    right: 0;
    width: 90px;
    height: 90px;
    top: -45px;
    font-size: 14px;
  }

 
  .nav-link {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .appwrap {
    padding-bottom: 90px;
  }


}

@media (min-width: 768px){
  .icon-shape{
    right: -40px;
    width: 90px;
    height: 90px;
    top: 25%;
   
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.2em;
  }
  .icon-shape{
    top: 25%;
    width: 130px;
    height: 130px;
    right:-60px;
    font-size: 20px;
  }
  
  .videoplaceholder {
    min-height: 80px;
  }
  aside .videoplaceholder .play {
    height: 30px;
    width: 30px;
    font-size: 10px;
  }
}

@media (min-width: 1400px) {
  body {
    padding-top: 70px;
  }

  .footer {
    margin-top: 35px;
  }

  .videoplaceholder {
    min-height: 110px;
  }
  aside .videoplaceholder {
    min-height: 80px;
  }
  .ind .videoplaceholder {
    min-height: 450px;
  }
}
