/* make the customizations replay */
$theme-colors: (
  "info": #ce102c,
  "success": rgb(40 180 70),
  "primary": #e60e2d,
  "dark": #021e42,
  "light": rgb(249 250 251 / 1),
  "default": rgba(0, 0, 0, 0.08),
  "secondary": #f3f6ff,
  //rgb(235 238 255 / 50%)
);

$border: 1px solid rgb(17 24 39 / 0.05);
$border-color: rgb(17 24 39 / 0.07);
$light: rgb(249 250 251 / 1);
$success: #729c69;
$secondary: #f3f6ff;
$dark: #021e42;
$navbar-light-color: rgb(17 24 39);
$navbar-dark-color: #fff;
$default-hover: rgba(0, 0, 0, 0.08);
$hero-gradient-start: rgba(255, 255, 255, 1);
$hero-gradien-end: rgba(226, 226, 226, 0.9);
$primary: #e60e2d;

$list-group-bg: $dark;
$list-group-border-color: $border-color;
$list-group-active-color: $hero-gradien-end;
$list-group-color: #fff;
$list-group-action-active-color: #fff;
$list-group-action-active-bg: $hero-gradien-end;

@import "~bootstrap/scss/bootstrap";

html,
body {
  min-height: 100% !important;
  height: 100%;
  line-height: 1.625;
  font-family: "Roboto";
}

h1 {
  font-weight: 900;
}
h1 span {
  letter-spacing: 0.4rem;
}

.navbar {
  z-index: 6;
}

.nav-link {
  font-weight: 500;
}

.ls-tight {
  letter-spacing: -0.025em !important;
}
.border {
  border: $border;
}

.hero {
  background-color: $hero-gradient-start;
  background-image: linear-gradient(
    305deg,
    $hero-gradient-start 60%,
    $hero-gradien-end 100%
  );

  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #e4e4e132 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #eaeae183 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #fefefe 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #c3dbf4ff 1%, #ff000000 99%);
}

.bg-primary-gradient {
  background-color: rgba(230, 14, 45, 1);
  background-image: radial-gradient(
    circle,
    rgba(230, 14, 45, 1) 50%,
    rgba(161, 21, 21, 1) 81%
  );
}

.alert {
  border: $border;
}
.alert-light {
  background-color: $light;
}
.alert-success {
  background-color: #f3f6ff;
}

.player,
.if .player {
  width: 100% !important;
  max-width: 100% !important;
}
.vimeoContainer {
  /*  --video--width: 1296;
  --video--height: 540;

  
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
  overflow: hidden;
  position: relative;
  min-height: 200px;
  max-width: 100%;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.videoplaceholder {
  background-color: rgba(249 250 251); //rgb(17 24 39 / 0.05)
  border: $border;
}

.bg-secondary .videoplaceholder,
.hero .videoplaceholder {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.hero .videoplaceholder {
  min-height: 320px;
}

.nav-pills .nav-link.active {
  background-color: #e60e2d96;
}
.nav-fill > .nav-link,
.nav-fill .nav-item {
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.dropdown-menu {
  --bs-dropdown-bg: #021e42;
}

.navButton {
  border-radius: 50%;
  border: 0;
  font-size: 22px;
  text-align: center;
  color: #fff;
  display: block;
  margin-right: 10px;
  background-color: transparent;
  position: absolute;
  left: 10px;
}

.blurred {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.bg-transp {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.icon-shape {
  text-align: center;
  vertical-align: middle;
  border-radius: 0.375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  z-index: 4;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ce102c;
}

.icon-shape:hover {
  background-color: #810618;
}

.avatar {
  width: 3em;
  height: 3em;
}

.navButton:hover {
  background-color: $default-hover;
  color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary);
}

.description h6 span {
  font-weight: 400;
}

.mainsection {
  margin-top: -45px;
}

aside .description h4 {
  font-size: 16px;
}

.list-group-item-dark {
  background-color: $dark;
}
.subitems .nav-pills .nav-link.active.bg-primary {
  background-color: $light !important;
  border-color: $border-color;
  color: $dark;
}

.subitems .nav-pills .nav-link.text-primary {
  color: $dark !important;
}
.footer {
  z-index: 100;
}
.footer a:link,
footer a:visited {
  color: #fff;
}
.footer .bi {
  font-size: 25px;
}

.react-player__shadow {
  display: none !important;
}
.react-player__preview {
  cursor: auto !important;
  border-radius: 5px !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 300px) {
  body {
    padding-top: 70px;
  }

  .reactPlayer {
    height: 130px !important;
  }
  .rocket {
    width: 200px;
  }

  .nav-link {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .appwrap {
    padding-bottom: 90px;
  }
}

@media (min-width: 768px) {
  .ms-md-n4 {
    margin-left: -5rem !important;
  }
}

@media (min-width: 1024px) {
  .reactPlayer {
    height: 180px !important;
  }
  h1 {
    font-size: 3.2em;
  }
  .icon-shape {
    top: 25%;
    width: 130px;
    height: 130px;
    left: -60px;
    font-size: 20px;
  }

  .videoplaceholder {
    min-height: 80px;
  }
  aside .videoplaceholder .play {
    height: 30px;
    width: 30px;
    font-size: 10px;
  }
}

@media (min-width: 1400px) {
  body {
    padding-top: 70px;
  }
  .rocket {
    width: 360px;
  }

  .footer {
    margin-top: 35px;
  }

  .videoplaceholder {
    min-height: 110px;
  }
  aside .videoplaceholder {
    min-height: 80px;
  }
  .ind .videoplaceholder {
    min-height: 450px;
  }
}
