/* make the customizations replay */
$theme-colors: (
  "info": #ce102c,
  "danger": teal,
  "primary": #e60e2d,
  "dark": #021e42,
  "light": rgb(249 250 251 / 1),
  "secondary": rgb(249 250 251 / 1),
  "default": rgba(0, 0, 0, 0.08),
);

$border: 1px solid rgb(17 24 39 / 0.05);
$border-color: rgb(17 24 39 / 0.07);
$light: rgb(249 250 251 / 1);
$navbar-light-color: rgb(17 24 39);
$navbar-dark-color: #fff;
$default-hover: rgba(0, 0, 0, 0.08);
$hero-gradient-start: #021e42;
$hero-gradien-end: rgba(2, 30, 66, 1);

@import "~bootstrap/scss/bootstrap";

html,
body {
  min-height: 100% !important;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
}

.navbar {
  z-index: 2;
}

.nav-link {
  font-weight: 500;
}

.hero {
  background-color: $hero-gradient-start;
  background-image: linear-gradient(
    17deg,
    $hero-gradient-start 10%,
    $hero-gradien-end 100%
  );

  color: #fff;
}

.alert {
  border: $border;
  border-radius: 9999px;
  padding: 8px 12px;
}
.alert-light {
  background-color: $light;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.videoplaceholder {
  background-color: rgba(249 250 251); //rgb(17 24 39 / 0.05)
  border: $border;
}

.bg-secondary .videoplaceholder,
.hero .videoplaceholder {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.hero .videoplaceholder {
  min-height: 300px;
}

.navButton {
  border-radius: 50%;
  border: 0;
  font-size: 22px;
  text-align: center;
  color: #fff;
  display: block;
  margin-right: 10px;
  background-color: transparent;
}
.play {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.navButton:hover {
  background-color: $default-hover;
  color: #fff;
}

.footer {
  z-index: 100;
}
.footer a:link,
footer a:visited {
  color: #fff;
}
.footer .bi {
  font-size: 25px;
}

@media (min-width: 300px) {
  body {
    padding-top: 70px;
  }

  .ind .videoplaceholder {
    min-height: 300px;
  }

  .videoplaceholder {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .appwrap {
    padding-bottom: 90px;
  }

  .videoplaceholder {
    min-height: 110px;
  }
}

@media (min-width: 1024px) {
  .videoplaceholder {
    min-height: 80px;
  }
  
}

@media (min-width: 1400px) {
  body {
    padding-top: 70px;
  }

  .footer {
    margin-top: 35px;
  }

  .videoplaceholder {
    min-height: 110px;
  }
  .ind .videoplaceholder {
    min-height: 450px;
  }

}
